@charset "UTF-8";
@font-face {
  font-family: 'Conv_db_helvethaica_x_med_ext_v3.2-webfont';
  src: url("/fonts/db_helvethaica_x_med_ext_v3.2-webfont.eot");
  src: local("☺"), url("/fonts/db_helvethaica_x_med_ext_v3.2-webfont.woff") format("woff"), url("/fonts/db_helvethaica_x_med_ext_v3.2-webfont.ttf") format("truetype"), url("/fonts/db_helvethaica_x_med_ext_v3.2-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv_db_helvethaica_x-webfont';
  src: url("/fonts/db_helvethaica_x-webfont.eot");
  src: local("☺"), url("/fonts/db_helvethaica_x-webfont.woff") format("woff"), url("/fonts/db_helvethaica_x-webfont.ttf") format("truetype"), url("/fonts/db_helvethaica_x-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv_akzidgrocffex-webfont';
  src: url("/fonts/akzidgrocffex-webfont.eot");
  src: local("☺"), url("/fonts/akzidgrocffex-webfont.woff") format("woff"), url("/fonts/akzidgrocffex-webfont.ttf") format("truetype"), url("/fonts/akzidgrocffex-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv_db_komol_x_demi_v3.2-webfont';
  src: url("/fonts/db_komol_x_demi_v3.2-webfont.eot");
  src: local("☺"), url("/fonts/db_komol_x_demi_v3.2-webfont.woff") format("woff"), url("/fonts/db_komol_x_demi_v3.2-webfont.ttf") format("truetype"), url("/fonts/db_komol_x_demi_v3.2-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

#highlight .topic-text {
  color: #006783;
  font-size: 30px;
  letter-spacing: 1.5;
  text-align: center; }

#highlight .box {
  position: relative;
  background-image: url("/imgs/water_front.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  overflow: hidden;
  width: auto;
  height: 470px;
  border-top: 5px solid #eaeaea;
  border-bottom: 5px solid #eaeaea; }

#highlight .all-box {
  position: absolute;
  top: 0;
  left: 0; }

#highlight .menu-box {
  position: relative;
  width: 50%;
  height: 100px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); }

#highlight .subtopic-text {
  font-size: 16px;
  line-height: 0.8; }

#highlight .seemore-text {
  position: absolute;
  bottom: 0px; }

#highlight .seemore-icon {
  margin-left: 5px;
  height: 10px;
  width: auto; }

#highlight .line {
  border-bottom: 1px solid #fff; }

#highlight .arrow-display-lg {
  display: none; }

#highlight .arrow-display-xs {
  display: inline; }

#highlight .scroll {
  color: #fff;
  position: absolute;
  right: 0;
  margin-right: 20px; }
  #highlight .scroll:nth-child(1) {
    top: 80px; }
  #highlight .scroll:nth-child(2) {
    bottom: 15px; }

#highlight .scroll-text {
  padding: 10px; }

#highlight .detail-box {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 350px;
  height: 350px;
  top: 50%;
  left: 3vw;
  transform: translate(0%, -50%);
  padding: 20px; }

#highlight .detail-hide {
  display: none; }

@media (min-width: 992px) {
  #highlight .topic-text {
    text-align: right;
    margin-top: 30px;
    margin-right: 30px; }
  #highlight .box {
    width: auto;
    height: 745px; }
  #highlight .all-box {
    height: 100%;
    top: inherit;
    left: inherit;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row; }
  #highlight .menu-section {
    position: relative;
    height: 100%;
    width: 20vw;
    border-right: 1px solid #fff; }
    #highlight .menu-section:nth-last-child() {
      border-right: none; }
  #highlight .menu-box {
    position: absolute;
    bottom: 0;
    width: 20vw;
    height: 115px;
    padding: 10px;
    cursor: pointer; }
  #highlight .menu-box:hover {
    height: 100%;
    border-top: 5px solid #006783;
    border-bottom: 5px solid #006783; }
    #highlight .menu-box:hover .subtopic-text {
      bottom: 150px; }
    #highlight .menu-box:hover .subtopic-thaitext {
      visibility: visible; }
  #highlight .menu-block.hideBox {
    display: none; }
  #highlight .subtopic-text {
    position: absolute;
    bottom: 50px;
    font-size: 24px;
    line-height: 0.8;
    padding: 10px; }
  #highlight .subtopic-thaitext {
    position: absolute;
    bottom: 50px;
    font-size: 20px;
    line-height: 1;
    padding: 10px;
    visibility: hidden; }
  #highlight .seemore-text {
    padding: 10px; }
  #highlight .arrow-display-lg {
    display: inline; }
  #highlight .arrow-display-xs {
    display: none; }
  #highlight .scroll {
    bottom: 0 !important;
    top: 70% !important;
    transform: translate(0%, -50%);
    cursor: pointer; }
    #highlight .scroll:nth-child(1) {
      left: 50px !important; }
    #highlight .scroll:nth-child(2) {
      right: 50px !important; }
  #highlight .scroll-text {
    font-size: 20px; }
  #highlight .scroll-text:hover {
    text-decoration: underline #fff; } }
