@import 'fonts';

// Color
$white: #fff;
$green-mint: #83a381;
$blue-sea: #006783;


// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Font
$font-helvethaicaMed: 'Conv_db_helvethaica_x_med_ext_v3.2-webfont';
$font-helvethaica: 'Conv_db_helvethaica_x-webfont';
$font-akz: 'Conv_akzidgrocffex-webfont';
$font-komol: 'Conv_db_komol_x_demi_v3.2-webfont';