@import 'variables';

#banner {
    padding-top: 60px;

    .banner-block {
        border: 5px solid $blue-sea !important;
    }

    .img-block {
        height: 184px;
        overflow: hidden;
    }

    .img-banner {
        height: auto;
    }

    .concept {
        background-color: #000;
        padding: 16px 0px 13px 0px;
    }
    
    .concept-text {
        color: $white;
        line-height: 1.1;
    }

    .kawa-text {
        font-size: 33px;
    }

    .sub-text {
        font-size: 24px;
        letter-spacing: 1;
    }

    .line {
        width: 30px;
        border-top: 4px solid $blue-sea;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 7px 0px 13px 0px;
    }

    .des-text {
        font-family: $font-komol;
        font-size: 14px;
    }

    .bg-price {
        background-color: $blue-sea;
    }

    .padding-price {
        padding: 17px 0px;
    }

    .price-text {
        font-size: 24px;
    }

    .bg-regis {
        background-color: #025364;
        cursor: pointer;
    }

    @media (min-width: 576px) {
        .img-block {
            height: 270px;
        }
    }

    @media (min-width: 768px) {
        .img-block {
            height: 350px;
        }
    }

    @media (min-width: 992px) {
        padding-top: 175.8px;

        .banner-block {
            position: relative;
            border: 8px solid $blue-sea !important;
        }

        .img-block {
            height: 611px;
        }

        .zoomPicIn {
            animation: zoomIn 10s 1 forwards;
        }

        .concept-box {
            z-index: 1;
            position: absolute;
            top: 250px;
            right: 8px;
        }
        
        .concept {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 20px;
        }

        .kawa-text {
            font-size: 40px;
        }

        .sub-text {
            font-size: 25px;
        }

        .des-text {
            font-size: 22px;
        }

        .line {
            margin: 10px 0px 13px 0px;
        }

        .regis-pos {
            position: relative;
            top: 20px;
            // right: 20px;
        }

        .bg-regis:hover {
            background-color: #04424e;
        }
    }

    @media only screen
    and (device-width: 1024px)
    and (device-height: 768px) { 
        padding-top: 165.8px;

        .img-block {
            height: 530px !important;
        }
    }
    
    @media only screen
    and (device-width: 1024px)
    and (device-height: 1366px) {
        .img-block {
            height: 530px !important;
        }
    }
    
    @media (min-width: 1200px) { 
       
    }

}