@import 'variables';

body {
    font-family: $font-helvethaicaMed, Sans-Serif;
    position: relative;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

#navbar {
    position: fixed;
    z-index: 999;
    width: 100%;
    
    #nav-sansiri {
        display: none;
    }

    .navbar-main {
        padding: inherit;
        z-index: 1000;
    }
    
    .paddingTB18 {
        padding: 18px 0px;
    }

    .navbar-bg {
        background-color: $green-mint;
    }

    .line {
        border-bottom: 1.5px solid $white;
    }

    .navbar {
        padding: 10px 0px;
    }

    .logo-size {
        width: auto;
        height: 30px;
    }

    .menu {
        color: rgba(255, 255, 255, 0.5);
        font-size: 20px;
        padding: 0px 15px;
    }
    
    .menu:hover {
        color: $white;
    }
    
    .menu.active {
        color: $white;
    }

    .change-menu {
        background-color: $white;
        color: #303030;
        width: 65px;
    }

    @media (min-width: 992px) {
        #nav-sansiri {
            display: block;
        }

        .navbar {
            padding: 25px 0px;
        }

        .menu {
            font-size: 14px;
        }
    }

    @media only screen
    and (device-width: 1024px)
    and (device-height: 768px) { 
        .navbar {
            padding: 20px 0px;
        }
    }
    
    @media only screen
    and (device-width: 1024px)
    and (device-height: 1366px) {
        .navbar {
            padding: 25px 0px;
        }
    }

    @media (min-width: 1200px) { 
       
    }
}

#footer {
    z-index: -1;
    width: 100%;

    .block-green {
        background-color: #2db925;
        height: 5px;
    }

    .taka-block {
        background-color: #f05133;
        font-size: 25px;
        color: $white;
        cursor: pointer;
    }

    .taka-block:hover {
        background-color: #a7341d;
    }
    
    .oka-block {
        background-color: #f5a900;
        font-size: 25px;
        color: $white;
        cursor: pointer;
    }

    .oka-block:hover {
        background-color: #be850a;
    }

    .padding-follow {
        padding: 35px 0px 10px 0px;
    }

    .padding-allproject {
        padding: 10px;
    }

    .down-arrow {
        position: relative;
        margin: -10px 0px 0px 10px;
        width: 20px;
        height: auto;
    }

    .padding-icon {
        padding: 10px 34px;
    }

    .footer-bg {
        background-color: $green-mint;
    }

    .text {
        color: $white;
        font-size: 30px;
    }

    .text-follow {
        color: $white;
        font-family: $font-akz;
        font-size: 16px;
    }

    .fa-icon {
        color: $white;
        font-size: 19px;
    }

    .contact-text {
        font-family: $font-akz !important;
    }

    .img-callcenter {
        margin: 20px;
        width: 92px;
    }

    .border-line {
        border-top: 1px solid $white;
    }

    @media (min-width: 576px) {

    }

    @media (min-width: 768px) {

    }

    @media (min-width: 992px) { 
        z-index: 0;

        .taka-block {
            font-size: 45px;
        }
        
        .oka-block {
            font-size: 45px;
        }

        .padding-allproject {
            padding: 30px;
        }

        .down-arrow {
            width: 26px;
            height: auto;
        }

        .img-callcenter {
            margin: 0px;
            width: 115px;
        }

        .border-line {
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
        }

        .padding-follow {
            padding: 40px 20px;
        }

        .padding-icon {
            padding: 40px 5px;
        }

        .fa-icon {
            font-size: inherit !important;
        }

        .sub-text {
            font-family: $font-akz;
            font-size: 8px;
            color: $white;
        }

        .main-text {
            font-family: $font-akz;
            font-size: 15px;
            color: $white;

            position: relative;
            margin-top: -20px;
            margin-bottom: 0px;
        }

        .block {
            margin-top: 22px;
            padding: 0px 22px;
            width: auto;
            height: 30px;
            &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                border-right: 1px solid $white;
            }
            &:nth-child(1) {
                padding-left: 15px !important;
            }
        }

        .apply-block {
            color: $white;
            margin: 40px 0px 0px 15px;
            height: 20px;
            padding-right: 9px;
            &:nth-child(1) {
                border-right: 1px solid $white;
            }
            &:nth-child(2) {
                padding-left: 9px;
            }
        }

        .footer-des {
            margin-top: 23px;
            color: $white;
            font-size: 14px;
            line-height: 1.25;
            letter-spacing: 0.2;
        }
    }

    @media (min-width: 1200px) { 
       
    }
}

@-webkit-keyframes zoomIn {
    0%   { transform: scale(1); }
    100% { transform: scale(1.2); }
}

@keyframes zoomIn {
    0%   { transform: scale(1); }
    100% { transform: scale(1.2); }
}