@import 'variables';

#plan {

    .bg {
        background-color: $green-mint;
        overflow: hidden;
    }

    .topic-text {
        color: $blue-sea;
        font-size: 30px;
        text-align: center;
    }
    
    .btn-plan {
        background-color: #6a8369;
        padding: 15px;
        color: $white;
        font-size: 25px;
    }

    .select-btn {
        margin-top: 19px;
        background-color: #5d835f;
        border: 1px solid #506b51;
        width: 100%;
        height: 40px;
        border-radius: 0px;
    }

    .type-plan {
        margin-bottom: 75px;
        z-index: 999;
    }

    .line {
        border-top: 7px solid #fff;
        position: relative;
        top: -7px;
    }

    .owl-carousel {
        z-index: 50;
    }

    .plan-size {
        width: 100%;
        height: auto;
    }

    .plan-block {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: visible;
    }

    .plan-pos {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .arrow-pos {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
    }

    .plan-all {
        position: relative;
        margin-top: -250px;
    }

    .inno-text {
        color: #989898;
        font-size: 12px;
        margin: 10px 0px;
        line-height: 1;
    }

    .inno-size {
        height: 30px;
        width: auto;
        display: initial;
    }

    .inno-pos {
        position: relative;
        top: 500px; 
    }

    .btn-download {
        background-color: $green-mint;
        color: $white;
        font-family: $font-komol;
        font-size: 24px;
        padding: 10px;
        margin-top: 17px;
        cursor: pointer;

        &:nth-child(2) {
            margin-bottom: 17px;
        }
    }

    .btn-download:hover {
        background-color: #506b51;
    }

    .pos-for-watermask {
        position: relative;
    }

    .water-mask-left {
        position: absolute;
        left: 0%;
        top: 0%;
        transform: rotate(-90deg);
    }
    
    @media (min-width: 992px) {
        .btn-margin {
            margin-top: 35px;
        }
        
        .btn-plan {
            padding: 10px;
            border-radius: 10px;
        }

        .type-plan {
            margin-top: 35px;
            margin-bottom: 150px;
        }

        .option-text {
            color: #000;
            font-size: 20px;
            cursor: pointer;
        }

        .option-text:hover {
            text-decoration: underline #000;
        }

        .plan-block {
            z-index: -1;
        }

        .plan-size {
            width: auto;
            height: 50%;
        }

        .plan-all {
            margin-top: -300px;
        }

        .inno-text {
            font-size: 18px;
        }

        .inno-pos {
            margin-top: 150px;
        }

        .btn-download {
            padding: 8px;
            margin: -20px 15px 17px 15px;
        }
    }
}